textarea {
  width: 700px;
  height: 180px;
  padding: 6px 16px 6px 16px;
  background-color: #fafafa;
  border-radius: 8px;
  border: 1px solid #d4d4d4;
}

input {
  width: 500px;
  padding: 6px 16px 6px 16px;
  background-color: #fafafa;
  border-radius: 8px;
  border: 1px solid #d4d4d4;
}
